[defaults]
# (list) List of enabled callbacks, not all callbacks need enabling, but many of those shipped with Ansible do as we don't want them activated by default.
callbacks_enabled=ansible.posix.profile_tasks, ansible.posix.timer

# (string) for the cases in which Ansible needs to return a file within an editor, this chooses the application to use.
editor=vi

# (string) This allows you to chose a specific cowsay stencil for the banners or use 'random' to cycle through them.
cow_selection=random

[galaxy]
# (list) A list of Galaxy servers to use when installing a collection.
# The value corresponds to the config ini header ``[galaxy_server.{{item}}]`` which defines the server details.
# See :ref:`galaxy_server_config` for more details on how to define a Galaxy server.
# The order of servers in this list is used as the order in which a collection is resolved.
# Setting this config option will ignore the :ref:`galaxy_server` config option.
server_list = galaxy
#server_list = redhat_automation_hub, galaxy
#server_list = my_automation_hub, redhat_automation_hub, galaxy

# (bool) whether ``ansible-galaxy collection install`` should warn about ``--collections-path`` missing from configured :ref:`collections_paths`.
;collections_path_warning=True

# (bool) Disable GPG signature verification during collection installation.
;disable_gpg_verify=False

# (boolean) If set to yes, ansible-galaxy will not validate TLS certificates. This can be useful for testing against a server with a self-signed certificate.
;ignore_certs=

# (string) URL to prepend when roles don't specify the full URI, assume they are referencing this server as the source.
;server=https://galaxy.ansible.com

# (int) The default timeout for Galaxy API calls. Galaxy servers that don't configure a specific timeout will fall back to this value.
;server_timeout=60

[galaxy_server.galaxy]
# (str) The url of the galaxy Galaxy server
url=https://galaxy.ansible.com/

#[galaxy_server.my_automation_hub]
#url=https://aap.tonneson.home/api/galaxy/content/rh-certified/
#token=INSERT_PAH_TOKEN

#[galaxy_server.redhat_automation_hub]
#url=https://console.redhat.com/api/automation-hub/
#auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
#token=INSERT_RH_TOKEN


# (int) The timeout of the galaxy Galaxy server
;timeout=60

# (str) The token of the galaxy Galaxy server
;token=

# (str) The username of the galaxy Galaxy server
;username=

# (bool) The validate_certs of the galaxy Galaxy server
;validate_certs=


#
# EVERYTHING ABOVE ARE MY SETTINGS
#
# EVERYTHING BELOW ARE ALL DEFAULT SETTINGS, COMMENTED OUT
#

# The entries below would fall under [default], however moved down here to make the top section more readable.
# Move any of the following to the [default] section above as needed.
#
# (boolean) By default, Ansible will issue a warning when received from a task action (module or action plugin).
# These warnings can be silenced by adjusting this setting to False.
;action_warnings=True

# (string) This allows you to choose a specific cowsay stencil for the banners or use 'random' to cycle through them.
;cow_selection=default

# (boolean) This option forces color mode even when running without a TTY or the "nocolor" setting is True.
;force_color=False

# (boolean) Sets the default value for the any_errors_fatal keyword, if True, Task failures will be considered fatal errors.
;any_errors_fatal=False

# (string) Chooses which cache plugin to use, the default 'memory' is ephemeral.
;fact_caching=memory

# (string) Prefix to use for cache plugin files/tables.
;fact_caching_prefix=ansible_facts

# (integer) Expiration timeout for the cache plugin data.
;fact_caching_timeout=86400

# (string) When a collection is loaded that does not support the running Ansible version (with the collection metadata key `requires_ansible`).
;collections_on_ansible_version_mismatch=warning

# (integer) Maximum number of forks Ansible will use to execute tasks on target hosts.
;forks=5

# (pathlist) Comma-separated list of Ansible inventory sources
;inventory=/etc/ansible/hosts

# (boolean) Enables/disables the cleaning up of the temporary files Ansible used to execute the tasks on the remote.
# If this option is enabled it will disable ``ANSIBLE_PIPELINING``.
;keep_remote_files=False

# (tmppath) Temporary directory for Ansible to use on the controller.
;local_tmp=~/.ansible/tmp

# (list) List of logger names to filter out of the log file.
;log_filter=

# (path) File to which Ansible will log on the controller.
# When not set the logging is disabled.
;log_path=

# (string) Sets the macro for the 'ansible_managed' variable available for :ref:`ansible_collections.ansible.builtin.template_module` and :ref:`ansible_collections.ansible.windows.win_template_module`.  This is only relevant to those two modules.
;ansible_managed=Ansible managed

# (integer) For asynchronous tasks in Ansible (covered in Asynchronous Actions and Polling), this is how often to check back on the status of those tasks when an explicit poll interval is not supplied. The default is a reasonably moderate 15 seconds which is a tradeoff between checking in frequently and providing a quick turnaround when something may have completed.
;poll_interval=15

# (boolean) Toggle to control the showing of deprecation warnings
;deprecation_warnings=True

# (boolean) Toggle to control displaying skipped task/host entries in a task in the default callback.
;display_skipped_hosts=True

# (boolean) Facts are available inside the `ansible_facts` variable, this setting also pushes them as their own vars in the main namespace.
# Unlike inside the `ansible_facts` dictionary where the prefix `ansible_` is removed from fact names, these will have the exact names that are returned by the module.
;inject_facts_as_vars=True

# (boolean) By default, Ansible will issue a warning when there are no hosts in the inventory.
# These warnings can be silenced by adjusting this setting to False.
;localhost_warning=True

# (string) for the cases in which Ansible needs to return output in a pageable fashion, this chooses the application to use.
;pager=less

# (bool) This controls whether a failed Ansible playbook should create a .retry file.
;retry_files_enabled=False

# (bool) This adds the custom stats set via the set_stats plugin to the default output.
;show_custom_stats=False

# (boolean) Allows disabling of warnings related to potential issues on the system running Ansible itself (not on the managed hosts).
# These may include warnings about third-party packages or other conditions that should be resolved if possible.
;system_warnings=True

# (boolean) This option defines whether the task debugger will be invoked on a failed task when ignore_errors=True is specified.
# True specifies that the debugger will honor ignore_errors, and False will not honor ignore_errors.
;task_debugger_ignore_errors=True

# (integer) Set the maximum time (in seconds) for a task action to execute in.
# Timeout runs independently from templating or looping. It applies per each attempt of executing the task's action and remains unchanged by the total time spent on a task.
# When the action execution exceeds the timeout, Ansible interrupts the process. This is registered as a failure due to outside circumstances, not a task failure, to receive appropriate response and recovery process.
# If set to 0 (the default) there is no timeout.
;task_timeout=0

# (string) Make ansible transform invalid characters in group names supplied by inventory sources.
;force_valid_group_names=never

# (boolean) Toggles the use of persistence for connections.
;use_persistent_connections=False

# (integer) For asynchronous tasks in Ansible (covered in Asynchronous Actions and Polling), this is how long, in seconds, to wait for the task spawned by Ansible to connect back to the named pipe used on Windows systems. The default is 5 seconds. This can be too low on slower systems, or systems under heavy load.
# This is not the total time an async command can run for, but is a separate timeout to wait for an async command to start. The task will only start to be timed against its async_timeout once it has connected to the pipe, so the overall maximum duration the task can take will be extended by the amount specified here.
;win_async_startup_timeout=5

# (list) Check all of these extensions when looking for 'variable' files which should be YAML or JSON or vaulted versions of these.
# This affects vars_files, include_vars, inventory and vars plugins among others.
;yaml_valid_extensions=.yml, .yaml, .json


[privilege_escalation]
# (string) Privilege escalation method to use when `become` is enabled.
;become_method=sudo

# (string) The user your login/remote user 'becomes' when using privilege escalation, most systems will use 'root' when no user is specified.
;become_user=root


[persistent_connection]
# (int) This controls the amount of time to wait for a response from a remote device before timing out a persistent connection.
;command_timeout=30

# (integer) This controls the retry timeout for persistent connection to connect to the local domain socket.
;connect_retry_timeout=15

# (integer) This controls how long the persistent connection will remain idle before it is destroyed.
;connect_timeout=30


[connection]
# (boolean) This is a global option, each connection plugin can override either by having more specific options or not supporting pipelining at all.
# Pipelining, if supported by the connection plugin, reduces the number of network operations required to execute a module on the remote server, by executing many Ansible modules without actual file transfer.
# It can result in a very significant performance improvement when enabled.
# However this conflicts with privilege escalation (become). For example, when using 'sudo:' operations you must first disable 'requiretty' in /etc/sudoers on all managed hosts, which is why it is disabled by default.
# This setting will be disabled if ``ANSIBLE_KEEP_REMOTE_FILES`` is enabled.
;pipelining=False


[colors]
# (string) Defines the color to use on 'Changed' task status.
;changed=yellow

# (string) Defines the default color to use for ansible-console.
;console_prompt=white

# (string) Defines the color to use when emitting debug messages.
;debug=dark gray

# (string) Defines the color to use when emitting deprecation messages.
;deprecate=purple

# (string) Defines the color to use when showing added lines in diffs.
;diff_add=green

# (string) Defines the color to use when showing diffs.
;diff_lines=cyan

# (string) Defines the color to use when showing removed lines in diffs.
;diff_remove=red

# (string) Defines the color to use when emitting a constant in the ansible-doc output.
;doc_constant=dark gray

# (string) Defines the color to use when emitting a deprecated value in the ansible-doc output.
;doc_deprecated=magenta

# (string) Defines the color to use when emitting a link in the ansible-doc output.
;doc_link=cyan

# (string) Defines the color to use when emitting a module name in the ansible-doc output.
;doc_module=yellow

# (string) Defines the color to use when emitting a plugin name in the ansible-doc output.
;doc_plugin=yellow

# (string) Defines the color to use when emitting cross-reference in the ansible-doc output.
;doc_reference=magenta

# (string) Defines the color to use when emitting error messages.
;error=red

# (string) Defines the color to use for highlighting.
;highlight=white

# (string) Defines the color to use when showing 'Included' task status.
;included=cyan

# (string) Defines the color to use when showing 'OK' task status.
;ok=green

# (string) Defines the color to use when showing 'Skipped' task status.
;skip=cyan

# (string) Defines the color to use on 'Unreachable' status.
;unreachable=bright red

# (string) Defines the color to use when emitting verbose messages. In other words, those that show with '-v's.
;verbose=blue

# (string) Defines the color to use when emitting warning messages.
;warn=bright purple


[diff]
# (bool) Configuration toggle to tell modules to show differences when in 'changed' status, equivalent to ``--diff``.
;always=False

# (integer) Number of lines of context to show when displaying the differences between files.
;context=3


[inventory]
# (string) This setting changes the behaviour of mismatched host patterns, it allows you to force a fatal error, a warning or just ignore it.
;host_pattern_mismatch=warning

# (boolean) If 'true', it is a fatal error when any given inventory source cannot be successfully parsed by any available inventory plugin; otherwise, this situation only attracts a warning.
;any_unparsed_is_failed=False

# (bool) Toggle to turn on inventory caching.
# This setting has been moved to the individual inventory plugins as a plugin option :ref:`inventory_plugins`.
# The existing configuration settings are still accepted with the inventory plugin adding additional options from inventory configuration.
# This message will be removed in 2.16.
;cache=False

# (string) Expiration timeout for the inventory cache plugin data.
# This setting has been moved to the individual inventory plugins as a plugin option :ref:`inventory_plugins`.
# The existing configuration settings are still accepted with the inventory plugin adding additional options from inventory and fact cache configuration.
# This message will be removed in 2.16.
;cache_timeout=3600

# (list) List of enabled inventory plugins, it also determines the order in which they are used.
;enable_plugins=host_list, script, auto, yaml, ini, toml

# (list) List of extensions to ignore when using a directory as an inventory source.
;ignore_extensions=.pyc, .pyo, .swp, .bak, ~, .rpm, .md, .txt, .rst, .orig, .ini, .cfg, .retry

# (list) List of patterns to ignore when using a directory as an inventory source.
;ignore_patterns=

# (boolean) By default, Ansible will issue a warning when no inventory was loaded and notes that it will use an implicit localhost-only inventory.
# These warnings can be silenced by adjusting this setting to False.
;inventory_unparsed_warning=True


[jinja2]
# (list) This list of filters avoids 'type conversion' when templating variables.
# Useful when you want to avoid conversion into lists or dictionaries for JSON strings, for example.
;dont_type_filters=string, to_json, to_nice_json, to_yaml, to_nice_yaml, ppretty, json

